<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @user.first_name %> , welcome home !</h1>
    <p>
      You registered to EventDay using the following email : <%= @user.email %>.
    </p>
    <p>
      To access the website, follow this link ! :<a href= https://event-day.herokuapp.com/ a>.
    </p>
    <p> See you soon on EventDay !
  </body>
</html>