<center>
<div class="card-columns'">

<% @users.all.each do |user| %>
</br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= user.first_name%><% user.last_name%> </h5>
    <h5 class="card-text">" <%= user.email %> "</h5>
  </div>
</div>
</div>
<%  end %>

</center>
