

<html>
<head>
  <title>Create a New Event</title>
</head>
<body>
<center>
<div class="card-columns'">

<% @events.all.each do |event| %>
</br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= event.title%> </h5>
    <h5 class="card-text">" <%= event.description %> "</h5>
    <a class="card-link" <%= link_to "SHOW ME THE EVENT", event_path(event.id)%> </a>
  </div>
</div>
</div>
<%  end %>

<%= link_to 'New Event', new_event_path %>

</center>
