
 body{
     margin: 0;
     background-color: #03080c;
     color: white;
 }

 header {
    font-family: 'Pacifico', cursive, sans-serif !important;
  }

.navbar {
    font-family: 'Pacifico', cursive, sans-serif !important;
  }

  .card {
    background-color: #1e2124;
     color: white;
     font-family: 'Arvo', cursive, sans-serif !important;
  }
  .form {
    font-family: 'Arvo', cursive, sans-serif !important;
  }
